*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
.gradle/
build/
**/build/
local.properties
*.iml
.idea/
.navigation/
captures/
.externalNativeBuild/
.cxx/
.DS_Store
Thumbs.db
.kotlin/
obj/
*.jks
*.keystore
!debug.keystore
*.log
*.hprof
.vscode/
*.swp
*~
keystore.properties
